@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
.navbar {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar__left {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-family: "Akaya Kanadaka", cursive;
}
.navbar__left__heading {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 40px;
  align-items: center;
}
.navbar__left__heading__icon {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 4px;
}
.navbar__left__heading__icon img {
  width: 100%;
  height: 100%;
}
.navbar__left__heading__title {
  all: initial;
  cursor: pointer;
  font-size: 26px;
  font-family: roboto;
  margin-left: 10px;
  font-weight: 700;
  font-family: inherit;
}
.navbar__left__options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__left__option {
  all: initial;
  font-family: "Akaya Kanadaka", cursive;
  flex: 1;
  font-size: 22px;
  margin-right: 20px;
  cursor: pointer;
}
.navbar__left__option.active {
  font-weight: 700;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__right .btn {
  margin-right: 20px;
  font-family: "Akaya Kanadaka", cursive;
}
.navbar__search__cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  margin-right: 40px;
  height: 50px;
}
.navbar__search__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__search__field {
  all: initial;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 200px;
  transition: all 0.2s linear;
}
.navbar__search__field:focus {
  width: 350px;
  background-color: white;
}
.navbar__search__button {
  border-color: grey;
}
.navbar__search__button:hover {
  background-color: transparent;
}
.navbar__right__user__cont {
  margin-right: 20px;
  height: 40px;
  position: relative;
}
.navbar__right__user__cont img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}
.navbar__user__options {
  position: absolute;
  width: 100px;
  right: 0;
  background-color: white;
  box-shadow: 0px 3px 10px black;
  padding: 10px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: all 3s linear;
}
.navbar__user__option {
  all: initial;
  border-bottom: 1px solid grey;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  font-family: "Akaya Kanadaka", cursive;
}
.navbar__right__user__cont:hover .navbar__user__options {
  display: flex;
  flex-direction: column;
  opacity: 1;
}
