.explore {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-height: 90vh;
  background-image: linear-gradient(to bottom, #ffa50044, transparent);
  z-index: -1;
}
.explore__self {
  width: 300px;
  padding: 30px;
}
.explore__self__cont {
  height: 100%;
  border-radius: 20px;
  overflow-x: hidden;
  scrollbar-width: none;
}
.explore__main {
  flex: 1;
}
.explore__suggested {
  width: 200px;
}
