.app {
  height: 100vh;
  width: 100%;
}
a {
  all: initial;
}
/* Common elements */
.btn {
  all: initial;
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #4142ee;
  font-size: 18px;
  border-radius: 5px;
  color: black;
  background-color: transparent;
  transition: all 0.14s linear;
}
.btn:hover {
  border-color: white;
  background-color: #4142ee;
  color: aliceblue;
}
